<template name="weekPageEdit">

  <div class="jumbotron">
    <form role="form">
      <div class="form-group">
        <label for="summary">Summarise your week in a few words</label>
        <input type="text" class="form-control" name="summary" id="summary" placeholder="Aim for 3 words" required>
      </div>
      <div class="form-group">
        <label for="journal">Journal</label>
        <input type="textarea" class="form-control" name="journal" id="journal" placeholder="Write about your week" required>
      </div>

      <label for="feeling">How was your week?</label>
      <div class="input-group" id="feeling">

        <span class="input-group-addon">
          <label for="feeling">Good</label>
          <input type="radio" aria-label="feeling" value="good">
        </span>
        <span class="input-group-addon">
          <label for="feeling">Bad</label>
          <input type="radio" aria-label="feeling" value="bad">
        </span>
      </div><!-- /input-group -->

      <button type="submit" class="btn btn-default">Submit</button>
    </form>

  </div>
</template>